<nav class="w-full bg-verde color-bianco fixed z-30">
  <div
    class="w-full lg:w-[60%] flex flex-wrap md:flex-nowrap items-center justify-between mx-auto py-2 px-4 gap-4"
  >
    <a class="flex items-center space-x-3 rtl:space-x-reverse">
      <div
        class="h-20 w-20 rounded-full bg-bianco border-viola border-[3px] flex items-center justify-center"
      >
        <img src="logo-bero-illustration.svg" alt="logo" class="h-16" />
      </div>

      <h1 class="text-2xl font-semibold whitespace-nowrap">
        Bero Illustration
      </h1>
    </a>
    <button
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm rounded-lg md:hidden"
      aria-controls="navbar-default"
      aria-expanded="false"
      (click)="openNavbar = !openNavbar"
    >
      <span class="sr-only">Apri menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"
        />
      </svg>
    </button>

    <div class="w-full md:block md:w-auto" [ngClass]="{ hidden: !openNavbar }">
      <ul
        class="font-medium flex flex-col p-4 md:p-0 mt-4 border rounded-lg md:flex-row md:space-x-8 md:mt-0 md:border-0"
      >
        <li>
          <a
            routerLink="/home"
            routerLinkActive="bg-viola"
            class="block py-2 px-3"
            >Home</a
          >
        </li>
        <li>
          <a
            routerLink="/portfolio"
            routerLinkActive="bg-viola"
            class="block py-2 px-3"
            >Portfolio</a
          >
        </li>
        <li>
          <a
            routerLink="/contatti"
            routerLinkActive="bg-viola"
            class="block py-2 px-3"
            >Contatti</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
