<app-section-portfolio
  [nomeSezione]="'ritratti'"
  [paragrafo]="
    'Che sia un regalo di compleanno, una laurea o un anniversario, un ritratto delle persone a cui vuoi bene è sempre un bel regalo. In bianco e nero, a colori, con uno o più soggetti, è personalizzabile come vuoi tu.'
  "
></app-section-portfolio>
<app-section-portfolio
  [nomeSezione]="'tatoo'"
  [paragrafo]="
    'Un tatuaggio è per sempre, e quando sei tu a decidere il design la soddisfazione è enorme.ooooVuoi personalizzare il tuo prossimo tatuaggio? Ti piace il mio stile? Contattami!'
  "
></app-section-portfolio>
<section
  class="flex flex-col md:flex-row justify-center items-center gap-8 bg-viola p-5 m-5 rounded-2xl text-bianco"
>
  <p class="text-center">
    A tutti, grandi e piccini, piacciono le storie. Vedere il tuo nome su un
    libro è un'emozione grandissima! Vuoi fare un regalo speciale? Hai un'idea
    da sviluppare? Guarda qui sotto.
  </p>
</section>
<app-section-portfolio
  [nomeSezione]="'fumetto'"
  [paragrafo]="
    'Un regalo divertente, con tante immagini: puoi raccontare la storia che vuoi tu!ooooQuello che vedi qui era il regalo per un bambino, parla della sua forza e dell\'amore per i suoi genitori. Lo stile è pop e fresco, veloce da realizzare.'
  "
></app-section-portfolio>
<app-section-portfolio
  [nomeSezione]="'libro-illustrato'"
  [paragrafo]="
    'In questo progetto ho rielaborato una favola riscrivendola per una persona in particolare: il libro racconta quindi la sua storia ma sulla falsa riga de Il piccolo principe, le illustrazioni sono ispirate dall\'originale ma rielaborate per renderlo un regalo unico.ooooQuesto dell\'esempio è stato realizzato per un adulto: non ci sono limiti, ci serve solo un\'idea!'
  "
></app-section-portfolio>
